html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
.wrapper {
  width: 400px;
  
  background-color: black;
  color: white;
}
.screen {
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: 20px 5px;
  font-size: 40px;
}

.cal-button-row {
  border: 1px solid black;
 
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.calc-button {
  background: rgb(226, 226, 226);
  color: black;
  font-weight: bolder;
  border: none;
  font-size: 40px;
  height: 100px;
  flex-basis: 24.5%;

}
.calc-button:hover {
    background-color: #fffefe;
}
.calc-button:active {
    background-color: #bbbcbe;
}
.double{
flex-basis: 49.7%;
}
.triple{
flex-basis: 74.8%;
}
.calc-button:last-child {
    background-color: orange;
}
.calc-button:last-child:hover {
    background-color: rgb(247, 205, 128);
}
.calc-button:last-child:active {
    background-color: rgb(247, 247, 247);
}